%form.login-form
  - if current_user
    Signed in as #{current_user.name}
    = link_to "Sign out", signout_path, id: "sign_out"
  - else
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>

    %div.center{id: "status"}
    %h2.text-center Login or Sign Up
    %hr
    %div.align-center
      %div.btn.btn-primary.btn-large.btn-text{id: "status"}
        = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"
      %div.btn.btn-danger.btn-large.btn-text{id: "status"}
        = link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in_w_google"
    %hr

  %input.login-input{placeholder: "E-mail"}
  %br
  %input.login-input{placeholder: "Password"}
  %br
  %input.login-submit{type: "submit", value: "Login" }


