.container.listings
  .row
    .col-lg-12
      %h1.page-header
        %h1 Listings
        /%small Secondary Text
  - @listings.each do |listing|
    .row
      .col-md-7
        %a{:href => "#"}
          = image_tag(listing.main_image.path, class: "img-responsive", width: "500px")
      .col-md-5
        %h3
          = listing.subject
        %h4
        %p 
          = listing.body
        %a.btn.btn-edswap{:href => listing_path(listing.id)}
          View Listing
          %span.glyphicon.glyphicon-chevron-right
    / /.row
    %hr/
  %hr/
  / Pagination
  .row.text-center
    .col-lg-12
      / %ul.pagination
      /   %li
      /     %a{:href => "#"} «
      /   %li.active
      /     %a{:href => "#"} 1
      /   %li
      /     %a{:href => "#"} 2
      /   %li
      /     %a{:href => "#"} 3
      /   %li
      /     %a{:href => "#"} 4
      /   %li
      /     %a{:href => "#"} 5
      /   %li
      /     %a{:href => "#"} »
