%section.search-form
  .container
    .row
      .col-md-12
        #adv-search.input-group
          %form{action: listings_path}>
            %input.form-control{:placeholder => "What are you looking for?", :type => "text", name: "search", value: @search}/
            .input-group-btn
              .btn-group{:role => "group"}
                %button.btn.btn-search{:type => "button"}
                  %span.glyphicon.glyphicon-search{"aria-hidden" => "true"}

  .container.recent-ads
    .row
      .col-md-8.scrollit
        .row.text-center
          .col-md-6.col-sm-6.hero-feature
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/800x500"}
                .caption
                  %h3 TITLE
          .col-md-6.col-sm-6.hero-feature
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/800x500"}
                .caption
                  %h3 TITLE
          .col-md-6.col-sm-6.hero-feature
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/800x500"}
                .caption
                  %h3 TITLE
          .col-md-6.col-sm-6.hero-feature
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/800x500"}
                .caption
                  %h3 TITLE
          .col-md-6.col-sm-6.hero-feature
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/800x500"}
                .caption
                  %h3 TITLE
          .col-md-6.col-sm-6.hero-feature
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/800x500"}
                .caption
                  %h3 TITLE
          .col-md-6.col-sm-6.hero-feature
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/800x500"}
                .caption
                  %h3 TITLE
          .col-md-6.col-sm-6.hero-feature
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/800x500"}
                .caption
                  %h3 TITLE
          .col-md-6.col-sm-6.hero-feature
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/800x500"}
                .caption
                  %h3 TITLE
          .col-md-6.col-sm-6.hero-feature
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/800x500"}
                .caption
                  %h3 TITLE
          .col-md-6.col-sm-6.hero-feature
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/800x500"}
                .caption
                  %h3 TITLE
          .col-md-6.col-sm-6.hero-feature
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/800x500"}
                .caption
                  %h3 TITLE

      .col-md-4.fixed
        #googleMap{style: "width:100%;height:600px;"}
      / .col-xs-12.col-md-9
      /   .well.listings
      /     .container
      /       .row
      /         .col-lg-12
      /           %h1.page-header
      /             Listings
      /             /%small Secondary Text
      /       - @listings.each do |listing|
      /         .row
      /           .col-md-7
      /             - if listing.has_image?
      /               = image_tag(listing.main_image_path, class: "img-responsive", height: "500px")
      /             - else
      /               = image_tag(image_path(listing.main_image_path), class: "img-responsive", height: "500px")
      /           .col-md-5
      /             %h3
      /               = listing.subject
      /             %h4.location
      /               - location = listing.location
      /               = "#{location.city}, #{location.address}"
      /             %p
      /               = listing.body
      /             %a.btn.btn-edswap{:href => listing_path(listing.id)}
      /               View Listing
      /               %span.glyphicon.glyphicon-chevron-right
      /         %hr/

