%h1.text-center Create a Listing

/<%= render 'form' %>

/<%= link_to 'Back', listings_path %>

%form
  %h4.text-center You are logged in as #{current_user.nickname}
  .container.new-form
    %label Contact Name:
    %input{:name => "name", :type => "text"}
    <br>
    %label Email:
    %input{:name => "email", :type => "text"}
    <br>
    %label Phone Number:
    %input{:name => "phone", :type => "text"}
    <br>
    %label Title:
    %input{:name => "title", :type => "text"}
    <br>
    %label Category:
    %input{:name => "category", :type => "text"}
    <br>
    %label Description:
    %input{:name => "description", :type => "text"}
    <br>
    %label price
    %input{:name => "price", :type => "text"}
    <br>
    %label location:
    %input{:name => "location", :type => "text"}
    <br>

  %p.text-center Upload Photo
  %input{:type => "submit", :class => "btn btn-edswap", :value => "submit"}/

