.row
  .col-md-6.col-sm-12
    %h1
      = @listing.subject
    %p
      = @listing.body
  .col-md-6.col-sm-12
    -@listing.listing_images.each do |image|
      = image_tag(image.path, width: "500px")
