<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Edswap Password Reset<%="Edswap #{@user.preferred_email}"%></h1>
    <p>
      A change password request was made on your account.
    </p>
    <a href="<%= "http://edswap.org/reset_password?password_reset_code=#{@user.password_reset_code}" %>">
      To reset your password please click this link: 
      <%= "http://edswap.org/reset_password?password_reset_code=#{@user.password_reset_code}" %>
    </a>
    <br>
    <p>Thanks for using Edswap!</p>
  </body>
</html>
