%h1
  Mission Statement
%h2
  edSwap is a free market, teacher to teacher website who’s aim is to connect local teachers to the educational materials they need at low or no cost to them in order to foster community.
