%section.mission-vision
  %article
    %h2 Mission
    %p To connect teachers locally to the education materials they need.
  %article
    %h2 Vision
    %p At edSwap, we understand the extra costs it takes to be a teacher. That’s why we created a free marketplace where teachers can donate, lend, or sell unused classroom materials in order to support other local teachers. Our website connects teachers together all with the hope of fostering a larger teaching community built on sharing. Finding what you need for your classroom shouldn’t be hard or costly, so join us today.
%section#meet-the-team
  .container
    .col-lg-12.text-center
    %h2.section-heading Meet the Team
    .col-xs-12.col-sm-6.col-md-3
      .cofounder
        %img.img-responsive.img-circle{:src => image_path("katie.jpg")}
          %h4 Katie Anderson
          %h5 Founder
    .col-xs-12.col-sm-6.col-md-3
      .cofounder
        %img.img-responsive.img-circle{:src => image_path("josh.jpg")}
          %h4 Josh Ling
          %h5 Co-Founder
    .col-xs-12.col-sm-6.col-md-3
      .cofounder
        %img.img-responsive.img-circle{:src => image_path("zac.jpg")}
          %h4 Zac Mitton
          %h5 Developer/Co-Founder
    .col-xs-12.col-sm-6.col-md-3
      .cofounder
        %img.img-responsive.img-circle{:src => image_path("cynthia.jpg")}
          %h4 Cynthia Stoneburner
          %h5 Developer/Co-founder
