/ %h1
/   Mission Statement
/ %h2
/   edSwap is a free market, teacher to teacher website who’s aim is to connect local teachers to the educational materials they need at low or no cost to them in order to foster community.

%section.mission-vision
  %article
    %h2 Mission
    %p To connection teachers to the educational materials they need locally and at little to no cost.
  %article
    %h2 Vision
    %p At Edswap (edSwap, or edSWAP), we understand the extra costs it takes to be a teacher. That’s why we created a free marketplace where teacher can post unused classroom materials for other local teachers to use for a short time or keep. Our website connects teachers together all with the hope of fostering a larger teaching community built on sharing. Finding what you need for your classroom shouldn’t be hard or costly, so join us today.

%section#meet-the-team
  .container
    .col-lg-12.text-center
      %h2.section-heading Meet the Team
    .row.row-flex.row-flex-wrap
      .col-sm-3.col-xs-6
        .cofounder
          %img.img-responsive.img-circle{:src => "http://placehold.it/100x100"}
            %h4 Katie Anderson
            %h5 Founder
      .col-sm-3.col-xs-6
        .cofounder
          %img.img-responsive.img-circle{:src => "http://placehold.it/100x100"}
            %h4 Josh Ling
            %h5 Co-Founder
      .col-sm-3.col-xs-6
        .cofounder
          %img.img-responsive.img-circle{:src => "http://placehold.it/100x100"}
            %h4 Zac Mitton
            %h5 Developer/Co-Founder
      .col-sm-3.col-xs-6
        .cofounder
          %img.img-responsive.img-circle{:src => "http://placehold.it/100x100"}
            %h4 Cynthia Stoneburner
            %h5 Developer/Co-founder

