.listings {
  padding: 0px 50px 0px 50px;
  background-color: $main;
  color: $main-text;
  margin-top: 15px;
}

.new-form {
  padding-left: 25%;
}

input {
  background-color: #f9f9f9;
}
#user_teacher {
  width: 275px;
  height: 40px;
}
