// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form {
  margin: 0 auto;
  padding: 15px;
  max-width: 450px;
  background: $sage;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  color: #brown;

}

.login-submit {
  background-color: $rose;
  color: white;
}

.login-input {
  margin-bottom: 20px;

}
