/* fullscreen setup */
body.splash {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(image_path('pencils-blur.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 150px;
  .text_container{
    padding-top: 25px;
    //background: rgba(0, 0, 0, .55);
    color: #333;
    #logo{
      display: block;
      margin: 0 auto;
    }
    .find{
      color: $edswap-green;
      font-weight: bold;
      font-style: italic;
    }
    .swap{
      color: $edswap-orange;
      font-weight: bold;
      font-style: italic;
    }
  }
  // .social-buttons{
  //   float: left;
  // }
  p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
  }
  h3 {
    font-size: 22px;
  }
  .copyright{
    //float:right;
    margin-top: 10px;
    font-size: 10px;
    font-style: italic;
  }
  #mc-embedded-subscribe{
    max-width: 275px;
    margin: 8px 0px 8px 0px;
    border-radius: 0px;
    vertical-align: middle;
    border-radius: 2px;
    border: 1px solid $contrast;
  }
  #mce-EMAIL{
    color: black;
    padding-left: 10px;
    border: 1px solid #D6D6D6;
    background-color: $lt-contrast;
    font-size: 16px;
    color: #2f2f2f;
    padding-left: 10px;
    border: 1px solid #d5d5d5;
    color: #333;
    border-radius: 2px 2px 2px 2px !important;
    height: 25px;
    vertical-align: middle;
    text-transform: uppercase;
  }
  ul.social-buttons li a {
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 16px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: $edswap-green;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    margin-bottom: 0px;
  }
  ul.social-buttons li a:hover,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:active {
    background-color: $edswap-green;
  }
  footer {
    background-color: transparent;
  }
  h3, h4, h5 {
    margin: 0;
  }
  .list-inline {
    margin: 0 auto;
  }
  .tagline {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  body.splash {
    // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image_path('pencils-blur.jpg')) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 0px;
    .text_container{
      background: transparent;
    }
    .btn-edswap {
      width: 275px;
    }
    h3,
    h4 {
      margin-bottom: 5px;
    }
  }
}

  /*
  .splash header {
    padding-top: 120px;
  h1 {
    // width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 46px;
    }
  }


  #mc_embed_signup {
    // text-align: center;
    margin: 0 auto;
  }

  #mc_embed_signup_scroll {
    overflow: hidden;
    h2 {
    color: white;
    padding: 0;
    }
    p {
      text-align: center;
      font-size: 12px;
    }
  }

  .splash div.navbar-logo {
    padding-left: 0px;
  }

  .splash nav.navbar.nav-pills {
    background-color: transparent;
    img {
    padding: 0px;
    padding-bottom: 5px;
    }
  }

  .subscribe {
    margin: 0 auto;
    max-width: 1000px;
  }

  .mc-field-group {
      padding-bottom: 5px;
      padding-top: 10px;
  }

  footer {
      padding: 25px 0;
      text-align: center;
      background-color: transparent;
  }

  footer span.copyright {
      text-transform: uppercase;
      text-transform: none;
      line-height: 40px;
  }

  footer ul.quicklinks {
      margin-bottom: 0;
      text-transform: uppercase;
      text-transform: none;
      line-height: 40px;
  }

  ul.social-buttons {
      margin-bottom: 0;
  }



  input {
    color: black;
    margin: 0 8px 0 8px;
  }*/
#mce-success-response.response.warning,
.warning {
    background-color: brown;
    padding: 5px 24px 5px 24px;
    a {
      color: white;
    }
}

