// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.disclaimer {
  margin: 0 auto;
  margin-top: 40px;
}

#status a#sign_in_w_google,
#status a#sign_in {
  color: white;
}

.jumbotron {
  background-color: $lt-tan;
}

.container {
  width: 100%;
  padding: 0px;
  .recent-ads {
    background-color: $lt-rose;
    padding: 20px;
  }
}
