.disclaimer {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#status a#sign_in_w_google,
#status a#sign_in {
  color: white;
}

.jumbotron {
  //background-color: $lt-tan;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  width: 100%;
  padding: 0px;
  .recent-ads {
    background-color: $main;
    padding: 20px;
  }
}

.recent-ads h3 {
  color: $main-text;
  font-size: 2em;
  margin-bottom: 40px;
  text-align: center;
}

#mc_embed_signup_scroll h2 {
  padding-top: 25px;
  color: $main-text;
}

.mc-field-group {
  // padding-bottom: 25px;
}

.welcome_page {
  padding-top: 150px;
  padding-bottom: 150px;
}
