%table
  %thead
    - @user.attributes.each do |attribute, value|
      %tr
        %td= attribute
        %td= value



        id  2
        provider  edswap
        uid 
        name  Zac
        oauth_token 
        oauth_email 
        preferred_email zacmitton22@gmail.com
        teacher 
        created_at  2016-01-11 22:08:47 UTC
        updated_at  2016-01-11 22:08:47 UTC
