
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background: $lt-tan;
    // font-family: 'ProximaNova';
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

.navbar.navbar-default {
  border-bottom: 1px solid rgba(255,255,255,.3);
  background-color: $brown;
  li a {
    color: white;
    text-transform: uppercase;
  }
}

.navbar-right li a {
  padding-top: 25px;
  font-size: 1.1em;
}
