
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: $background;
  margin-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

nav.navbar.nav-pills {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  -webkit-box-shadow: 1px 9px 17px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 9px 17px -5px rgba(0,0,0,0.75);
  //box-shadow: 1px 9px 17px -5px rgba(0,0,0,0.75);
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-radius: 0px;
  z-index: 999999;
  color: white;
  font-size: 1.1em;
  padding: 0px 60px 0px 60px;
  li a {
    color: $menu-text;
    text-transform: uppercase;
  }
  img {
    padding-top: 9px;
  }
}

.navbar-right li a {
  padding: 19px;
  font-size: 1.1em;
  //text-shadow: 1px 1px #333;
}

.navbar-logo {
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: $contrast;
  color: white;
}

#status a#sign_in_w_google,
#status a#sign_in {
  color: white;
  margin: 20px;
}

.social-icons {
  margin-top: 20px;
  margin-bottom: 20px;
}

#user_password,
#user_preferred_email {
  height: 34px;
}

.btn-edswap {
  background-color: $contrast;
  color: white;
  text-transform: uppercase;
  border-color: none;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  min-width: 165px;
    &:visited {
      color: white;
    }
    &:hover {
      color: $contrast;
      background-color: white;
      transition: all 1s ease 0s;
  }
}

footer {
  background-color: $dk-main;
  color: white;
  padding: 20px;
}

label {
  float: left;
  width: 32%;
  text-align: right;
  margin-right: 0.5em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

input {
  min-width: 275px;
  min-height: 40px;
}

label {
  font-size: 1.2em;
  font-weight: 200;
  padding-top: 7px;
}

.jumbotron.jumbotron h1 {
  max-width: 650px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-bottom: 0px;
}

i.fa.fa-square.fa-stack-2x.text-primary {
  color: $dk-main;
}

