
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: $lt-tan;
  // font-family: 'ProximaNova';
  //background: -webkit-linear-gradient(top, $brown  42%, $lt-tan 100%);
  //background: -moz-linear-gradient(top, $lt-tan  42%, $sage 100%);
  //background-image: url(image_path('notebooks.jpg'));

  //background: linear-gradient(to bottom left, rgba(33, 34, 26, 0.8), rgba(33, 34, 26, 0.5)), url(image_path('notebooks.jpg'));

  //background-attachment: fixed;
  //background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

nav.navbar.nav-pills {
  background-color: $dk-sage;
  //position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 1px 9px 17px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 9px 17px -5px rgba(0,0,0,0.75);
  box-shadow: 1px 9px 17px -5px rgba(0,0,0,0.75);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-radius: 0px;
  li a {
    color: white;
  }
}

.navbar-right li a {
  padding: 25px;
  font-size: 1.1em;
}

.navbar-logo {
  padding-left: 60px;
  padding-right: 60px;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: $lt-rose;
}

#status a#sign_in_w_google,
#status a#sign_in {
  color: white;
  margin: 20px;
}

.social-icons {
  margin-top: 20px;
  margin-bottom: 20px;
}

#user_password,
#user_preferred_email {
  height: 34px;
}
