%header.jumbotron.hero-spacer.text-center
  %h1 What is edSwap?
  %p edSwap is a FREE, teacher-to-teacher platform
  %p More than a marketplace, it's a community.

  / Title
.container.recent-ads
  .row
    .col-lg-12
      %h3 Recent Posts
  / .row
  / Page Features
  .row.text-center
    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        %img{:alt => "", :src => "http://placehold.it/800x500"}
          .caption
            %h3 Title
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            %p
              %a.btn.btn-edswap{:href => "#"} View Ad
    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        %img{:alt => "", :src => "http://placehold.it/800x500"}
          .caption
            %h3 Title
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            %p
              %a.btn.btn-edswap{:href => "#"} View Ad
    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        %img{:alt => "", :src => "http://placehold.it/800x500"}
          .caption
            %h3 Title
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            %p
              %a.btn.btn-edswap{:href => "#"} View Ad
    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        %img{:alt => "", :src => "http://placehold.it/800x500"}
          .caption
            %h3 Feature Label
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            %p
              %a.btn.btn-edswap{:href => "#"} View Ad


%footer
  .row
    .col-lg-12
      %p.text-right Copyright &copy; edSwap 2015

