.col-md-8.col-md-offset-2
    .row
        .panel.panel-default
            .panel-heading
                %h1 This will be the Welcome page!
                %p EdSwap does not share any of your personal data. We use facebook or google login to make it easier and more convenient for you to create an account with us. We use this email address internally as your identity but will never send any spam or give any information to a third party whatsoever.


