/ %form.login-form
/   - if current_user
/     Signed in as #{current_user.name}
/     = link_to "Sign out", signout_path, id: "sign_out"
/   - else
/     <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
/     </fb:login-button>

/     %div{id: "status"}
/     = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"
/     = link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in_w_google"

/   %input.login-input{placeholder: "E-mail"}
/   %input.login-input{placeholder: "Password"}
/   %input.login-submit{type: "submit", value: "Login" }
